
body{
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: serif;
}

.header {
    background-image: url("./Imgs/A3.png");
    
    color: #fff;
    height: 130px;
    width: 100%;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    justify-content: center ;
}

img{
    height: 100%;
    border-radius: 100px;
    float: left;
    padding-left:50px;
}

.menu{
    float: right;
    padding-right: 100px;
}

.menu li{
    list-style-type: none;
    float: left;
    margin-left: 50px;
}

.menu a{
    text-decoration: none;
    color: rgb(247, 207, 162);
    font-size: 20px;
    font-family: serif;
    padding: 20px;
    position: relative;
    top: 70px;
}

.menu a:hover{
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(0, 0, 0);
}

@media (max-width: 805px){
    .menu{
        padding-right: 50px;
    }
    
    .menu a{
        font-size: 14px;
        top: 30px;
    }

    .header{
        height: 70px;
    }

}

@media (max-width: 632px) {
    .menu li{
        margin-left: 0px;
    }
}

@media (max-width: 482px){
    .menu{
        display: none;
    }
}