.conteudo {
    text-align: center;
    width: 60%;
    padding: 0px 20%;
}



.instagram{
    display: flex;
    padding: 0px 200px;
}

.email{
    display: flex;
    padding: 0px 200px;
}

.social{
    width: 50%;
    text-align: right;
    padding: 20px;
}

.convite{
    width: 50%;
    text-align: left;
    padding: 20px;
}