body{
    margin: 0;
}

.header {
    background-color: rgb(55, 56, 58);
    font-family: fantasy;
    color: #fff;
    width: 100%;
    height: 20vh;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}